
<div class="text-center flex justify-center items-end h-64" >
    <form action="/getotp" method="post">
            <input type="number" class="border-b-2 px-2 py-2 " value="<%= user.phone %>" name="phone" placeholder="Enter YOur Phone">
       <div class="text-center my-4">
        <button type="submit" class="font-bold text-white text-lg px-3 bg-black rounded-full">GET OTP</button>
       </div>
    </form>
</div>
