
<div class="text-center flex justify-center items-end h-64" >
    <form action="/verify_otp" method="post">
            <input type="number" class="border-b-2 px-2 py-2 "  name="otp" placeholder="Enter YOur OTP">
       <div class="text-center my-4">
        <button type="submit" class="font-bold text-white text-lg px-3 bg-black rounded-full">Verify</button>
       </div>
    </form>
</div>
